<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/add/reviews" method="post">
        <h3>ADD YOUR REVIEW</h3>
        <input type="text" name="name" maxlength="50" class="box" placeholder="Enter Food Name" required>
        <br>
        <select name="categoryId" id="">
            <option value="" selected="true" disabled="disabled">Choose Category</option>
            <% data.forEach((el) => {console.log(el); %>
                <option value="<%= el.id %>"><%= el.name %></option>
            <% }) %>
        </select>
        <br>
        <input type="text" name="imageURL" maxlength="255" class="box" placeholder="Enter Image URL" required>
        <br>
        <textarea name="review" class="box" required placeholder="Enter your review" maxlength="500" cols="30" rows="10"></textarea>
        <br>
        <input type="number" name="price" min="0" max="9999999999999999" class="box" placeholder="Enter Price" required>
        <br>
        <input type="submit" value="Create" name="send" class="btn">
    </form>
</body>
</html>