<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoodCarlos (Add Review)</title>

    <!-- Fonts and Swiper -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <!-- Website Icon -->
    <link rel="Website icon" type="png" href="asset/icons/goodcarlos-favicon-color.png">

    <!-- Style CSS -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <!-- HEADER SECTION START -->
    <header class="header">
        <section class="flex">
            <div href="/" class="logo">
                <img src="asset/logo/png/logo-no-background.png" alt="">
            </div>
            <nav class="navbar">
                <a href="/">Home</a>
                <a href="#">About Us</a>
            </nav>
            <div class="icons">
                <a href="#"><i class="fas fa-search"></i></a>
                <div id="user-btn" class="fas fa-user"></div>
                <div id="menu-btn" class="fas fa-bars"></div>
            </div>
        </section>
    </header>
    <!-- HEADER SECTION END -->

    <!-- REVIEW SECTION START -->
    <section class="review">
        <div class="row">
            <form action="/add/reviews" method="post">
                <h3>ADD YOUR REVIEW</h3>
                <input type="text" name="name" maxlength="50" class="box" placeholder="Enter Food Name" required>
                <select name="categoryId" id="">
                    <option value="" selected="true" disabled="disabled">Choose Category</option>
                    <% data.forEach((el) => {console.log(el); %>
                        <option value="<%= el.id %>"><%= el.name %></option>
                    <% }) %>
                </select>
                <input type="text" name="imageURL" maxlength="255" class="box" placeholder="Enter Image URL" required>
                <textarea name="review" class="box" required placeholder="Enter your review" maxlength="500" cols="30" rows="10"></textarea>
                <input type="number" name="price" min="0" max="9999999999999999" class="box" placeholder="Enter Price" required>
                <input type="submit" value="Create" name="send" class="btn">
            </form>
        </div>
    </section>
    <!-- REVIEW SECTION END -->

</body>
</html>